.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0 10px 10px; /* Top, bottom, left padding */
  }
  
  .navbar-button {
    background-color: transparent;
    border-color: #dc3545;
    color: #dc3545;
    padding: 10px 20px; /* Uniform padding all around */
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px; /* Added border-radius for rounder corners */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .navbar-button:hover {
    color: white;
    background-color: #dc3545;
    
  }